/*
Paleta de Cores
Azul Marinho: 
Púrpura: 
Roxo: 
Roxo Claro: 
Ciano Claro: 
Cinza Claro: 
Branco: 
*/

/* Guarda as cores em variáveis */
:root {
    --azul: #000a2b;
    --purpura: #3a0d82;
    --roxo: #711cc1;
    --roxo-claro: #b28df1;
    --ciano: #22A7F0;
    --cinza: #45474B;
    --cinza-claro: #F0F0F0;
    --branco: #FFFFFF;
}

/* Estilizar o corpo da página */
body {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    background: #F0F0F0; /* Altera o fundo */
}

/* Estilizar o cabeçalho da página */
header {
    display: flex; /* Usa Flexbox para layout */
    justify-content: space-between; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    background: var(--azul); /* Altera o fundo */
    color: var(--branco); /* Altera a cor do texto */
    margin: 0; /* Remove a margem padrão */
}

/* Estilizar título do cabeçalho */
header div {
    display: flex; /* Usa Flexbox para layout */
    justify-content: left; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding-left: 30px; /* Espaço à esquerda */
}

/* Estilizar barra de navegação do cabeçalho */
header nav {
    display: flex; /* Usa Flexbox para layout */
    justify-content: right; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding-right: 30px; /* Espaço à direita */
    gap: 20px; /* Espaço entre as âncoras */
}

/* Estilizar as âncoras na barra de navegação do cabeçalho */
header nav a {
    color: var(--branco); /* Cor do texto */
    font-family: 'Barlow', sans-serif; /* Altera a fonte */
    text-decoration: none; /* Remove sublinhado */
    font-size: 1.5rem; /* Tamanho da fonte */
    transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out; /* Adiciona transição à cor do texto */
}

/* Adiciona efeito hover às âncoras na barra de navegação do cabeçalho */
header nav a:hover {
    color: var(--ciano); /* Cor do texto */
    text-shadow: 0 0 15px var(--ciano); /* Efeito neon ao texto */
}

/* Estilizar imagens no cabeçalho da página */
header img {
    margin-right: 10px; /* Espaçamento à direita */
}

/* Estilizar títulos no cabeçalho */
h1 {
    letter-spacing: 0.1rem; /* Altera o espaçamento entre as letras */
    font-size: 2rem; /* Altera o tamanho da fonte */
    text-align: center; /* Alinha o texto */
    font-family: 'Poppins', sans-serif; /* Altera a fonte */
}

/* Estilizar o conteúdo da página */
main {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    background: url("./img/background.gif"); /* Altera o fundo */
    background-size: cover; /* Altera o tamanho da imagem de fundo */
    padding: 0.6rem 0 0.6rem 0; /* Espaço interno */
    height: 100vh; /* Tamanho do conteúdo */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 2rem; /* Espaçamento abaixo de cada seção */
    color: var(--branco); /* Cor do texto */
}

/* Estiliza os formulário das seções */
section form {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
}

/* Estiliza os parágrafos dentro das seções */
section p {
    font-family: 'Barlow', sans-serif; /* Altera a fonte */
}

/* Estiliza as âncoras dentro das seções */
section a {
    font-family: 'Barlow', sans-serif; /* Altera a fonte */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: var(--purpura) solid 2px; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: var(--branco); /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    background: rgba(17, 0, 255, 0.137); /* Altera a cor do fundo */
    transition: box-shadow 0.4s ease-in-out; /* Adiciona transição à sombra e borda */
}

/* Estiliza o texto de placeholder do input */
section input::placeholder {
    color: var(--roxo); /* Cor do texto */
    opacity: 0.6; /* Opacidade do texto */
}

/* Adiciona efeito hover ao input das seções */
section input:hover {
    box-shadow: 0 0 20px var(--roxo); /* Adiciona uma sombra mais intensa */
}

/* Adiciona efeito focus ao input das seções */
section input:focus {
    outline: none; /* Remove a borda padrão */
    box-shadow: 0 0 20px var(--roxo); /* Adiciona uma sombra mais intensa */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: var(--purpura); /* Cor de fundo do botão */
    color: var(--branco); /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out; /* Adiciona transição à sombra e fundo */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: var(--roxo); /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 0 28px var(--roxo); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 40vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: rgba(17, 0, 255, 0.137); /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: box-shadow 0.4s ease-in-out; /* Transição para o efeito neon */
    color: var(--branco); /* Cor do texto */
    border: var(--purpura) solid 2px;
}

/* Efeito hover nos resultados da pesquisa */
.item-resultado:hover {
    box-shadow: 0 0 22px var(--roxo); /* Efeito neon */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    margin-top: 0; /* Remove a margem do topo */
    font-size: 1.5rem; /* Tamanho da fonte */
    font-family: 'Poppins', sans-serif; /* Altera a fonte */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: var(--roxo-claro); /* Cor do texto dos links */
    transition: text-shadow 0.4s ease-in-out, color 0.4s ease-in-out; /* Adiciona transição à cor do texto e ao efeito neon */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    color: var(--roxo); /* Cor do texto */
    text-shadow: 0 0 20px var(--roxo); /* Efeito neon ao texto */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: var(--cinza); /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estilizar o rodapé da página */
footer {
    background: var(--azul); /* Altera o fundo */
    color: var(--branco); /* Altera a cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    margin: 0; /* Remove a margem padrão */
    width: 100%; /* Largura total da página */
    position: relative; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    padding: 0.6rem 0 0.6rem 0; /* Altera o espaçamento */
    font-family: 'Barlow', sans-serif; /* Altera a fonte */
}

/* Estilizar as âncoras no rodapé */
footer a {
    color: var(--branco); /* Cor do texto */
    font-family: 'Barlow', sans-serif; /* Altera a fonte */
    text-decoration: none; /* Remove sublinhado */
    transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out; /* Adiciona transição à cor do texto */
}

/* Adiciona efeito hover às âncoras no rodapé */
footer a:hover {
    color: var(--ciano); /* Cor do texto */
    text-shadow: 0 0 15px var(--ciano); /* Efeito neon ao texto */
}

/* Estilizar os parágrafos dentro do rodapé */
footer p {
    margin: 0; /* Remove os espaçamentos padrão */
}

/* Estiliza a barra de scroll */
.resultados-pesquisa::-webkit-scrollbar {
    background: rgba(17, 0, 255, 0.137); /* Cor de fundo */
    border-radius: 0.6rem; /* Arredonda os cantos */
    border: 1px var(--purpura) solid; /* Borda da barra */
    transition: box-shadow 0.4s ease-in-out; /* Transição do efeito neon */
}

/* Adiciona efeito hover à barra de scroll */
.resultados-pesquisa::-webkit-scrollbar:hover {
    box-shadow: 0 0 10px var(--roxo); /* Efeito neon */
}

/* Estiliza a barrinha da scrollbar */
.resultados-pesquisa::-webkit-scrollbar-thumb {
    background: #711cc1; /* Cor do fundo */
    border-radius: 1rem; /* Arredonda as bordas */
    background-clip: content-box; /* Borda interna */
    border: solid 4px transparent; /* Deixa a borda invisível para diminuir a barra */
}

/* Altera o tamanho da barra de scroll */
.resultados-pesquisa::-webkit-scrollbar-button {
    height: 0px; /* Altura da barra de scroll */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}
